@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Fasthand&family=Montserrat:wght@300;400;700&display=swap');


/* *{
    /* font-size: 20px; 
    } */
.padre{
    font-size: 20px;
}
.parrafo1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight : 600;
    font-size :  1.5rem;

}
.parrafo2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}
.parrafo3{
    
    font-family: 'Fasthand', cursive;

    font-weight: 700;
    font-size: 1.5rem;

}
.f{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    font-weight : 600;
    font-size :  1.5rem;


   
}
.t{
    font-family: 'Montserrat', sans-serif;
    color: aqua;
    font-weight : 600;
    font-size :  1.5rem;

}

.i{
    font-family: 'Fasthand', cursive;
    color: pink;
    font-weight : 600;
    font-size :  1.5rem;


}
.fa-wand-magic-sparkles{
    color: blue;
    font-size: larger;
}
.fa-facebook{
    font-size: 100px;
    color: blue;
}
.fa-twitter{
    font-size:100px;
    color: aqua;
}
.fa-instagram{
    font-size: 100px;
    color: pink;
}

