/* p {
    color: bisque;
} */
pre { /* selector de tipo */

    color: aqua;
}

*{  /* selector universal */
    color: orange;
}

em{ /* selector de tipo */

    color:blueviolet;
}

samp{
    color: yellow;
}
/* selector de clase */
.titulo{
    color: blue;
}
.bl {
    float:left;
    background-color: greenyellow;
    color: azure;

}
li {
    color: black;

}
/* selector id  */
#selector{
  color: violet ; 

}