.container{
    background-color: blueviolet;
    margin-top:20px ;
}
.container{

    margin-top: 20;


}
.uno{
    background:aqua ;
}

.dos{
    background: bisque;
}
.tres{
    background: floralwhite;
}
.ancho{
    background: yellow;
}